CONFORMANTS_URL=
EXPLORER_URL=
CHAT_ROOM_URL=
PR_MANAGEMENT_URL=
ISSUE_MANAGEMENT_URL=

SPREADSHEET_ID=
DOWNLOAD_SHEET_ID=
GAPI_LF=
GAPI_ZOWE=

GAPI_EMAIL=
CONFIG_DETAILS_FILE=metricsAnalyticsData.json

MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_HOSTNAME=metrics-db
MONGO_PORT=27017
MONGO_DB=
MONGO_AUTH_SOURCE=

JWT_KEY=

EXTERNAL_API_URL=
PORT=3000
