/*
* This program and the accompanying materials are made available under the terms of the
* Eclipse Public License v2.0 which accompanies this distribution, and is available at
* https://www.eclipse.org/legal/epl-v20.html
*
* SPDX-License-Identifier: EPL-2.0
*
* Copyright Contributors to the Zowe Project.
*
*/

main {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

section {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 4vh 2vw;
    /* background-color: #c2c2c2; */
    border-radius: 15px;
    margin: 4vh 0;
    box-shadow: #414141 0px 25px 50px -12px;
}

.row {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}

.sectionTitle {
    font-size: 3vw;
}

.graphContainer {
    width: 40%;
    height: 100%;
}

canvas {
    height: 100%;
    width: 100%;
}

.downloadsTable {
    width: 80%;
    border-collapse: collapse;
    margin: 2vh 0;
}

/* table {
    margin: 2vh 0;
    width: 100%;
    border-collapse: collapse;
} */

td,
th {
    text-align: center !important;
    padding: 1vh 1vw;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

.graphRow {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#myTab {
    padding: 2vh 0;
    width: 60%;
    justify-content: space-evenly;
}

#myTab > li {
    width: 15%;
    text-align: center;
}

.tab-content {
    min-width: 80%;
}

.tab-pane {
    display: flex;
    align-items: center;
}

.tableContainer {
    width: 35%;
    height: auto;
    min-height: 600px;
    margin: 2vh 0;
    padding: 4vh 2vw;
    background: #ececec;
    /* border-radius: 15px; */
    -webkit-box-shadow: 0px 0px 64px 0px rgba(65, 65, 65, 1);
    -moz-box-shadow: 0px 0px 64px 0px rgba(65, 65, 65, 1);
    box-shadow: 0px 0px 64px 0px rgba(65, 65, 65, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cliTableContainer {
    width: 45% !important;
}

#explorerCumulativeDownloadsTable {
    /* border-collapse: collapse; */
    width: 100%;
}

.row {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    margin: 3vh 0;
}

.cumulativeDownloadsGraph {
    width: 60%;
    min-height: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vh 2vw;
    background: #ececec;
    -webkit-box-shadow: 0px 0px 64px 0px rgba(65, 65, 65, 1);
    -moz-box-shadow: 0px 0px 64px 0px rgba(65, 65, 65, 1);
    box-shadow: 0px 0px 64px 0px rgba(65, 65, 65, 1);
}

.barGraph {
    width: 100%;
}

.bottomGraphRow {
    width: 90%;
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vh 2vw;
    margin: 2vh 0;
    background: #ececec;
    -webkit-box-shadow: 0px 0px 64px 0px rgba(65, 65, 65, 1);
    -moz-box-shadow: 0px 0px 64px 0px rgba(65, 65, 65, 1);
    box-shadow: 0px 0px 64px 0px rgba(65, 65, 65, 1);
}

.desc {
    width: 80%;
    text-align: center;
}
